.container {
  max-width: 800px;
  margin: 0 auto;
}

.content {
  button {
    cursor: pointer;

    font-weight: 600;
    font-size: 1.125rem;
    color: var(--highlight);

    background: transparent;
    border: 0;

    margin-top: 4rem;

    transition: filter 0.2s;
    &:hover {
      filter: brightness(0.8);
    }
  }
}
