.container {
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .main {
    max-width: 800px;
    margin: 5rem auto;

    color: var(--heading);

    p,
    span,
    svg {
      color: var(--body);
    }

    svg {
      margin-right: 0.5rem;
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      margin-bottom: 4rem;

      h1 {
        font-size: 3rem;
        font-weight: bold;
      }

      > p {
        color: var(--info);
        font-size: 0.875rem;
        font-style: italic;
      }

      .info {
        display: flex;
        gap: 1.5rem;

        div {
          display: flex;
          align-items: center;
        }
      }
    }

    article {
      a {
        color: inherit;
      }

      h2 {
        font-size: 2.25rem;
        margin: 2.25rem 0;
      }

      div {
        font-size: 1.125rem;
      }
    }
  }
}
